## Load Data and Dependencies

In [1]:
#import dependecies
import pandas as pd
import numpy as np
from pathlib import Path

data_folder = Path("../data/")

### Address Points (MAR)

In [22]:
#load MAR address points
fileaddresses = data_folder / "address_points/Address_Points.csv"
data_addresses = pd.read_csv(fileaddresses)

print('Columns: ', data_addresses.columns.values)

data_addresses.head()

Columns:  ['X' 'Y' 'OBJECTID_12' 'OBJECTID' 'SITE_ADDRESS_PK' 'ADDRESS_ID'
 'ROADWAYSEGID' 'STATUS' 'SSL' 'TYPE_' 'ENTRANCETYPE' 'ADDRNUM'
 'ADDRNUMSUFFIX' 'STNAME' 'STREET_TYPE' 'QUADRANT' 'CITY' 'STATE'
 'FULLADDRESS' 'SQUARE' 'SUFFIX' 'LOT' 'NATIONALGRID' 'ZIPCODE4' 'XCOORD'
 'YCOORD' 'STATUS_ID' 'METADATA_ID' 'OBJECTID_1' 'ASSESSMENT_NBHD'
 'ASSESSMENT_SUBNBHD' 'CFSA_NAME' 'HOTSPOT' 'CLUSTER_' 'POLDIST' 'ROC'
 'PSA' 'SMD' 'CENSUS_TRACT' 'VOTE_PRCNCT' 'WARD' 'ZIPCODE' 'ANC'
 'NEWCOMMSELECT06' 'NEWCOMMCANDIDATE' 'CENSUS_BLOCK' 'CENSUS_BLOCKGROUP'
 'FOCUS_IMPROVEMENT_AREA' 'SE_ANNO_CAD_DATA' 'LATITUDE' 'LONGITUDE'
 'ACTIVE_RES_UNIT_COUNT' 'RES_TYPE' 'ACTIVE_RES_OCCUPANCY_COUNT'
 'WARD_2002' 'WARD_2012' 'ANC_2002' 'ANC_2012' 'SMD_2002' 'SMD_2012']

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,OBJECTID_12,OBJECTID,SITE_ADDRESS_PK,ADDRESS_ID,ROADWAYSEGID,STATUS,SSL,TYPE_,...,LONGITUDE,ACTIVE_RES_UNIT_COUNT,RES_TYPE,ACTIVE_RES_OCCUPANCY_COUNT,WARD_2002,WARD_2012,ANC_2002,ANC_2012,SMD_2002,SMD_2012
0,-77.000353,38.892195,832017,1087.0,27746,27746,11690.0,ACTIVE,0814 0018,ADDRESS,...,-77.000351,0.0,RESIDENTIAL,1.0,Ward 6,Ward 6,ANC 6C,ANC 6C,SMD 6C07,SMD 6C03
1,-76.999249,38.892652,832018,3265.0,50808,50808,3073.0,ACTIVE,0838 0027,ADDRESS,...,-76.999247,0.0,RESIDENTIAL,1.0,Ward 6,Ward 6,ANC 6C,ANC 6C,SMD 6C07,SMD 6C03
2,-76.999769,38.892558,832019,3266.0,51065,51065,3073.0,ACTIVE,0814 0818,ADDRESS,...,-76.999767,1.0,RESIDENTIAL,2.0,Ward 6,Ward 6,ANC 6C,ANC 6C,SMD 6C07,SMD 6C03
3,-76.999231,38.892546,832020,3267.0,51219,51219,3073.0,ACTIVE,0838 0041,ADDRESS,...,-76.999229,0.0,RESIDENTIAL,1.0,Ward 6,Ward 6,ANC 6C,ANC 6C,SMD 6C07,SMD 6C03
4,-76.997461,38.892194,832021,1.0,3171,3171,9646.0,ACTIVE,0866 0013,ADDRESS,...,-76.997459,1.0,RESIDENTIAL,2.0,Ward 6,Ward 6,ANC 6C,ANC 6C,SMD 6C07,SMD 6C03

### DDOT Street Functional Classification

In [20]:
#load street functional classification
filestreets = data_folder / "street_functional_classification/DDOT_Street_Functional_Classification.csv"
data_streets = pd.read_csv(filestreets)

print('Columns: ', data_streets.columns.values)

data_streets.head()

Columns:  ['OBJECTID' 'ROADWAYSEGID' 'STREETSEGID' 'STREETID' 'SOURCEID' 'ROADTYPE'
 'STCODE' 'STTYPEID' 'QUADCODE' 'ST_NAME' 'REGISTEREDNAME' 'STREETTYPE'
 'USPS_ABBREV' 'ISALIAS' 'DESCRIPTION' 'QUADRANT' 'DIRECTIONALITY'
 'OWNERSHIP' 'NHSTYPE' 'FUNCTIONALCLASS' 'FROMLEFTADDRESS' 'TOLEFTADDRESS'
 'FROMRIGHTADDRESS' 'TORIGHTADDRESS' 'LEFTZIPCODE' 'RIGHTZIPCODE'
 'FROMLEFTTHEORETICRANGE' 'TOLEFTTHEORETICRANGE' 'FROMRIGHTTHEORETICRANGE'
 'TORIGHTTHEORETICRANGE' 'LIFECYCLESTATUS' 'INSERVICEDATE'
 'OUTOFSERVICEDATE' 'UPDATETIMESTAMP' 'OBJECTID_1' 'SHAPELEN']

,OBJECTID,ROADWAYSEGID,STREETSEGID,STREETID,SOURCEID,ROADTYPE,STCODE,STTYPEID,QUADCODE,ST_NAME,...,FROMLEFTTHEORETICRANGE,TOLEFTTHEORETICRANGE,FROMRIGHTTHEORETICRANGE,TORIGHTTHEORETICRANGE,LIFECYCLESTATUS,INSERVICEDATE,OUTOFSERVICEDATE,UPDATETIMESTAMP,OBJECTID_1,SHAPELEN
0,6325603,10855,10445,208144,28144520,Street,8144,4,2,South Dakota Ave,...,5200,5298,5201,5299,Active,2004/08/27 17:42:27+00,NaN,2004/12/14 15:56:24+00,0,83.315354
1,6325605,14074,10604,504843,54843087,Street,4843,247,5,Interstate 66,...,2500,2598,2407,2599,Active,2004/08/27 17:42:27+00,NaN,2004/12/14 15:56:29+00,0,392.420507
2,6325606,15872,5528,503191,53191160,Street,3191,139,5,East Capitol St,...,1600,1698,1601,1699,Active,2004/08/27 17:42:27+00,NaN,2004/12/14 15:56:21+00,0,64.371204
3,6325608,11799,11376,208996,28996280,Street,8996,139,2,Vista St,...,2700,2798,2701,2799,Active,2004/08/27 17:42:27+00,NaN,2004/12/14 15:56:27+00,0,43.111430
4,6325617,15818,1501,405945,45945460,Street,5945,4,4,Martin Luther King Jr Ave,...,4626,4646,4627,4647,Active,2004/08/27 17:42:27+00,NaN,2004/12/14 15:56:23+00,0,47.011890

In [73]:
#is there a streetsegid for every ROADWAYSEGID in data_addresses?
data_addresses_merged = data_addresses.merge(data_streets, how='left', on='ROADWAYSEGID') 

print('Percent entries in the addresses table with no STREETSEGID \
in the street functional classification table: ', data_addresses_merged['STREETSEGID'].isna().sum()/len(data_addresses_merged['STREETSEGID'])*100)

Percent entries in the addresses table with no STREETSEGIDin the street functional classification table:  68.26008859596996

### 311 Data

In [38]:
#load 311 data
file311 = data_folder / "311_requests/311_City_Service_Requests_in_2020.csv"
data_311 = pd.read_csv(file311)

print('Columns: ', data_311.columns.values)

data_311.head()

Columns:  ['X' 'Y' 'OBJECTID' 'SERVICECODE' 'SERVICECODEDESCRIPTION'
 'SERVICETYPECODEDESCRIPTION' 'ORGANIZATIONACRONYM' 'SERVICECALLCOUNT'
 'ADDDATE' 'RESOLUTIONDATE' 'SERVICEDUEDATE' 'SERVICEORDERDATE'
 'INSPECTIONFLAG' 'INSPECTIONDATE' 'INSPECTORNAME' 'SERVICEORDERSTATUS'
 'STATUS_CODE' 'SERVICEREQUESTID' 'PRIORITY' 'STREETADDRESS' 'XCOORD'
 'YCOORD' 'LATITUDE' 'LONGITUDE' 'CITY' 'STATE' 'ZIPCODE'
 'MARADDRESSREPOSITORYID' 'WARD' 'DETAILS']

,X,Y,OBJECTID,SERVICECODE,SERVICECODEDESCRIPTION,SERVICETYPECODEDESCRIPTION,ORGANIZATIONACRONYM,SERVICECALLCOUNT,ADDDATE,RESOLUTIONDATE,...,XCOORD,YCOORD,LATITUDE,LONGITUDE,CITY,STATE,ZIPCODE,MARADDRESSREPOSITORYID,WARD,DETAILS
0,-77.011831,38.957475,1850,SPSTDAMA,Traffic Safety Investigation,Department of Transportation,DDOT,1,2020/01/02 09:33:13+00,1970/01/01 00:00:00+00,...,398974.76,143284.72,38.957468,-77.011829,WASHINGTON,DC,20011,245851,4.0,NaN
1,-76.946948,38.900200,3676,SPSTDAMA,Traffic Safety Investigation,Department of Transportation,DDOT,1,2020/01/03 09:36:22+00,2020/01/06 09:35:16+00,...,404602.09,136927.98,38.900192,-76.946946,WASHINGTON,DC,20019,316433,7.0,NaN
2,-77.008832,38.968958,4053,SPSTDAMA,Traffic Safety Investigation,Department of Transportation,DDOT,1,2020/01/03 13:28:34+00,2020/01/06 09:30:14+00,...,399234.80,144559.46,38.968951,-77.008830,WASHINGTON,DC,20012,1320,4.0,NaN
3,-77.072913,38.932068,5418,SPSTDAMA,Traffic Safety Investigation,Department of Transportation,DDOT,1,2020/01/04 11:41:57+00,2020/01/06 11:25:28+00,...,393678.25,140466.80,38.932061,-77.072911,WASHINGTON,DC,20016,221531,3.0,NaN
4,-77.055076,38.903968,6724,SPSTDAMA,Traffic Safety Investigation,Department of Transportation,DDOT,1,2020/01/05 08:30:46+00,2020/02/10 09:50:20+00,...,395222.93,137346.40,38.903961,-77.055074,WASHINGTON,DC,20037,274801,2.0,NaN

In [13]:
#Print some top-level information about some of the data of interest
#how often is the MARADDRESSREPOSITORYID popoulated in the 311 data?
print('Number of rows where MARADDRESSREPOSITORYID field is nan: ', np.sum(data_311['MARADDRESSREPOSITORYID'].isna()))

Number of rows where MARADDRESSREPOSITORYID field is nan:  0

In [67]:
#checking that MAR ID's all exist in the address points database
data_311_merged = data_311.merge(data_addresses, how='left', left_on='MARADDRESSREPOSITORYID', right_on='ADDRESS_ID')

#quick sanity check that the addresses in the large look the same (i.e. we have the right id's in the join)
data_311_merged[['FULLADDRESS', 'STREETADDRESS']].head()

                    FULLADDRESS                 STREETADDRESS
0      100 LONGFELLOW STREET NW      100 LONGFELLOW STREET NW
1      730 KENILWORTH AVENUE NE      730 KENILWORTH AVENUE NE
2  6527 NORTH CAPITOL STREET NE  6527 NORTH CAPITOL STREET NE
3      3206 WISCONSIN AVENUE NW      3206 WISCONSIN AVENUE NW
4   2600 PENNSYLVANIA AVENUE NW   2600 PENNSYLVANIA AVENUE NW

In [68]:
#checking that MAR ID's all exist in the address points database
data_311_merged = data_311.merge(data_addresses, how='left', left_on='MARADDRESSREPOSITORYID', right_on='ADDRESS_ID')

print('Number of entries in 311 data that did not map to a ROADWAYSEGID in the MAR addresses table: ', pd.isnull(data_311_merged['ROADWAYSEGID']).sum())
print('Percent of entries in 311 data that did not map to a ROADWAYSEGID in the MAR addresses table: ', \
      pd.isnull(data_311_merged['ROADWAYSEGID']).sum()/len(data_311_merged['ROADWAYSEGID'])*100)

#looking at entries where the tables didn't join
merge_failed = data_311_merged.loc[data_311_merged['ROADWAYSEGID'].isna()==True]
merge_failed[['MARADDRESSREPOSITORYID', 'STREETADDRESS']].head()

Number of entries in 311 data that did not map to a ROADWAYSEGID in the MAR addresses table:  263
Percent of entries in 311 data that did not map to a ROADWAYSEGID in the MAR addresses table:  31.80169286577993

    MARADDRESSREPOSITORYID                                      STREETADDRESS
5                   901289           4TH STREET NE AND RHODE ISLAND AVENUE NE
10                  902586  HOWARD ROAD SE AND MARTIN LUTHER KING JR AVENU...
13                  908006  FIRTH STERLING AVENUE SE AND SOUTH CAPITOL STREET
16                  900946          4TH STREET NW AND MASSACHUSETTS AVENUE NW
17                  901544                16TH STREET NW AND MONROE STREET NW

In [69]:
data_311_merged = data_311_merged.merge(data_streets, how='left', left_on='ROADWAYSEGID', right_on='ROADWAYSEGID')

print('Number of entries in 311 data that did not map to a STREETSEGID in the MAR addresses table: ', pd.isnull(data_311_merged['STREETSEGID']).sum())
print('Percent of entries in 311 data that did not map to a STREETSEGID in the MAR addresses table: ', \
      pd.isnull(data_311_merged['STREETSEGID']).sum()/len(data_311_merged['STREETSEGID'])*100)

Number of entries in 311 data that did not map to a STREETSEGID in the MAR addresses table:  572
Percent of entries in 311 data that did not map to a STREETSEGID in the MAR addresses table:  69.16565900846433

### Crashes Data

In [56]:
#load crashes data
file_crashes = data_folder / "crashes/Crashes_in_DC.csv"
crashes_data = pd.read_csv(file_crashes)

print('Columns: ', crashes_data.columns.values)

crashes_data.head()

Columns:  ['X' 'Y' 'OBJECTID' 'CRIMEID' 'CCN' 'REPORTDATE' 'ROUTEID' 'MEASURE'
 'OFFSET' 'STREETSEGID' 'ROADWAYSEGID' 'FROMDATE' 'TODATE' 'MARID'
 'ADDRESS' 'LATITUDE' 'LONGITUDE' 'XCOORD' 'YCOORD' 'WARD' 'EVENTID'
 'MAR_ADDRESS' 'MAR_SCORE' 'MAJORINJURIES_BICYCLIST'
 'MINORINJURIES_BICYCLIST' 'UNKNOWNINJURIES_BICYCLIST' 'FATAL_BICYCLIST'
 'MAJORINJURIES_DRIVER' 'MINORINJURIES_DRIVER' 'UNKNOWNINJURIES_DRIVER'
 'FATAL_DRIVER' 'MAJORINJURIES_PEDESTRIAN' 'MINORINJURIES_PEDESTRIAN'
 'UNKNOWNINJURIES_PEDESTRIAN' 'FATAL_PEDESTRIAN' 'TOTAL_VEHICLES'
 'TOTAL_BICYCLES' 'TOTAL_PEDESTRIANS' 'PEDESTRIANSIMPAIRED'
 'BICYCLISTSIMPAIRED' 'DRIVERSIMPAIRED' 'TOTAL_TAXIS' 'TOTAL_GOVERNMENT'
 'SPEEDING_INVOLVED' 'NEARESTINTROUTEID' 'NEARESTINTSTREETNAME'
 'OFFINTERSECTION' 'INTAPPROACHDIRECTION' 'LOCATIONERROR' 'LASTUPDATEDATE'
 'MPDLATITUDE' 'MPDLONGITUDE' 'MPDGEOX' 'MPDGEOY' 'BLOCKKEY' 'SUBBLOCKKEY'
 'FATALPASSENGER' 'MAJORINJURIESPASSENGER' 'MINORINJURIESPASSENGER'
 'UNKNOWNINJURIESPASSENGER']

,X,Y,OBJECTID,CRIMEID,CCN,REPORTDATE,ROUTEID,MEASURE,OFFSET,STREETSEGID,...,MPDLATITUDE,MPDLONGITUDE,MPDGEOX,MPDGEOY,BLOCKKEY,SUBBLOCKKEY,FATALPASSENGER,MAJORINJURIESPASSENGER,MINORINJURIESPASSENGER,UNKNOWNINJURIESPASSENGER
0,-76.999401,38.843072,158115126,28491922,20112333,2020/08/07 02:22:56+00,13009362,42.62,1.69,NaN,...,38.843079,-76.999400,400060.30,130562.84,56aef9357e7d558f4ed50261781de7d0,56aef9357e7d558f4ed50261781de7d0,0,0,0,0
1,-76.933988,38.912487,158115127,28491795,20112288,2020/08/06 20:15:10+00,0,0.00,40.08,NaN,...,38.912796,-76.933764,405729.08,138250.97,84070d228553c09f5cbc6eb393bc4274,b560c1d968377deab6c4a72cfb312803,0,0,0,0
2,-76.976971,38.896845,158115128,28491796,20112292,2020/08/06 20:22:02+00,12076962,287.57,7.69,NaN,...,38.896905,-76.976950,402004.76,136567.07,f7a29ddaec7710eab2883510228f8434,f7a29ddaec7710eab2883510228f8434,0,0,0,0
3,-77.047390,38.895693,158115129,28491670,20112161,2020/08/06 15:18:02+00,11089892,706.40,0.03,NaN,...,38.895685,-77.047387,395889.22,136427.33,43c42f042dc40dda36a34a278cfb127a,43c42f042dc40dda36a34a278cfb127a,0,0,0,0
4,-77.036191,38.992129,158115130,28491545,20112017,2020/08/06 05:46:10+00,11031982,2768.83,4.60,NaN,...,38.992144,-77.036144,NaN,NaN,539f524ee3a9531c085e4910ae75594f,539f524ee3a9531c085e4910ae75594f,0,0,0,0

### Vision Zero Data

In [4]:
#load visison zero data
file_vz = data_folder / "vision_zero/Vision_Zero_Safety.csv"
data_vz = pd.read_csv(file_vz)

data_vz.head()

,X,Y,OBJECTID,GLOBALID,REQUESTID,REQUESTTYPE,REQUESTDATE,STATUS,STREETSEGID,COMMENTS,USERTYPE
0,-77.020315,38.892890,1,{7AA2347A-C035-4D5A-9196-07C309B4C7BF},1,Blocking the crosswalk,2015/06/29 19:56:00+00,Unassigned,10022.0,Cars for valet at the Capital Grille constantl...,Pedestrian
1,-77.020877,38.893046,2,{1AFF4069-5D94-49A1-9D1F-0A089D414F5F},2,Other Driving Issue,2015/06/29 19:57:36+00,Unassigned,10022.0,Illegal U-Turns here,Pedestrian
2,-77.024643,38.918125,3,{908CCF07-A389-40EE-B5D2-7ADAF90404D1},3,Not enough time to cross,2015/06/29 20:14:32+00,Unassigned,10396.0,There is no walk sign on this intersection so ...,Pedestrian
3,-77.003515,38.896124,4,{12E7A594-76F9-41CE-91AC-9B6B8E08EC5C},4,Stop sign running,2015/06/29 20:15:02+00,Unassigned,4381.0,Constant issue; MPD never enforces despite rep...,Pedestrian
4,-77.017562,38.883266,5,{0AED48A8-A4DD-44E9-8C4A-D45E14E7462D},5,Cyclist behavior,2015/06/29 20:15:05+00,Unassigned,5344.0,Some cyclists often run this red light,Biker